.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width:1300px;
    margin: 0 auto;
}
.item {
    
    width: 300px;
}

.image{
    width: 300px;
    height: 200px;
}

.info{
    padding: 10px;
}

.info h2{
    margin-bottom: 5px;
}

info p{
    margin-bottom:10px;
}

.green{
    color: rgb(46, 205, 46);
    margin-left: 60px;
}

.red{
    color: rgb(255, 46, 46);
    margin-left: 60px;
}