@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    padding:20px;
    font-family: 'Golos Text', sans-serif;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}